/* Content First - Mobile First */
	*{
		box-sizing: border-box;
		font-family: sans-serif;
	}
	body, h1, h2, h3{ margin: 0 }
/* Navigation */
	.menu{
		display: flex;
		justify-content: center;
		background-color: #248;
		margin:0;
		padding: 0;
	}
	.menu a{
		color: #eee;
		text-decoration: none;
	}
	.menu li{
		padding: .5rem;
		list-style-type: none;
	}
	.menu li:hover{
		background-color: rgba(51,51,51,.5);
	}

/* Header */
	#header{
		height: 100vh;
		min-height: 300px;
		max-height: 600px;
		padding: 1rem;
		background-color: #ccc;
	}

/* Main Content */
	section{
		max-width: 920px;
		margin: 1rem auto;
		padding: 1rem;
		box-shadow: 0 0 .5rem #ccc;
	}
/* Footer */

/* Contact Form */
